extends layout

block content
  h1 Chip In
  p.lead A fundraiser for any kind of common goal.
  hr
  .row
    .col-sm-6
      h2 Tired of keeping track of who paid for what and how much?
      p Raising the money for the next party, trip or your best friends birthday present is now as simple as it can get. Create a kick-in, share the link with your friends, get the funds!
      p
      p Chiping in is now one click away.
      p
      p Your ussual get together will be funded automatically, create a repeated kick-in, each chipper will set a certain date to be notified, and when 'Thursty Thursday' comes up, the funds will be waiting for you.