extends ../layout

block content
  .page-header
    h3 Chip-ins
    
    ul
      if (events.length > 0)
        each val in events
          if (val.cashout == false)
            li
              a(href='/kick/view/#{val.id}') #{val.name} (due on #{val.end_date? val.end_date.toLocaleDateString() : 'unknown'})
          else
            li
              strikethrough #{val.name} (already cashed out)
      else
        p You have no Chip-Ins yet. Please create one.