extends ../layout

block content
  .page-header
    h3 New kick-in
  form.form-horizontal(id='kick-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(name='name', id='name', placeholder='Name', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='end_date') End date
      .col-sm-7
        input.form-control(class='datepicker', name='end_date', id='end_date', placeholder='End date', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Create